<h1>Islamic Mobile Library</h1>

<p class="text-muted">
    Powered by Nūr Reader Platform
</p>

<hr>

<div class="row g-4">

    <div class="col-md-3">
        <div class="dashboard-card">
            <h2>0</h2>
            <p>Families Registered</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <h2>0</h2>
            <p>Readers Registered</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <h2>0</h2>
            <p>Books Available</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <h2>0</h2>
            <p>Books Borrowed</p>
        </div>
    </div>

</div>